.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

#show-button {
    margin-bottom: 30px;
}

#book-grid {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flip-card {
    width: 32%;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}


.flip-card-front > img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.flip-card-back {
    display: none;
    flex-direction: column;
    align-items: center;
}

.flip-card-buttons {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    color: #090909;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;

}

button:hover {
    border: 1px solid white;
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}