.idea/
.vscode/
netbeans/
eclipse/

target/
out/
build/

*.swp
*.log
*.pid
*.class

*.js.map

secrets.properties
local.properties

*.log

node_modules/
bower_components/
mvnrepository/

.m2/settings.xml

db/changelog*.xml

.DS_Store

**/target/surefire-reports/*
**/target/site/surefire-reports/*

.idea/runConfigurations/rerunFailedTestsConfiguration.xml

src/main/resources/oauth2/client_secret.json

docker-compose.yml
Dockerfile

**/src/test/java/*Test.java
