<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Better Reddit</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div id="header">
	<h1>Welcome to Better Reddit</h1>
</div>


<nav>
	<a th:href="@{/submit-new}">Submit a new post</a>
</nav>

<table>
	<tr th:each="post: ${posts}">
		<td th:text="${post.getVotes()}"></td>
		<td th:text="${post.getDate()}"></td>
		<td class="voting"><a th:href="|/posts/${post.getId()}/upvote|">+</a></td>
		<td class="voting"><a th:href="|/posts/${post.getId()}/downvote|">-</a></td>
		<td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}" target="_blank"></a></td>
	</tr>
</table>

<div class="pagination">
	<a th:href="|?pageNo=${previousPage}|">&laquo;</a>
	<a th:each="i : ${#numbers.sequence(1, totalPages)}" th:value="${i}" th:href="|?pageNo=${i - 1}|" th:text="${i}"></a>
	<a th:href="|?pageNo=${nextPage}|">&raquo;</a>
</div>

</body>
</html>